@use "value";

$breakpoint: 992px;

#app {
    display: flex;
    flex-direction: column;
}

.mapContainer {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 5.5vw - 4px);
    background-color: value.$color-white;

    @media (min-width: $breakpoint) {
        flex-direction: row;
    }
}

#map {
    width: 100%;
    height: 100%;

    @media (max-width: $breakpoint) {
        position: absolute !important;
        top: calc(1.5% + 3.75vw + 92px);
        left: 50%;
        transform: translate(-50%, 0);
        height: 30vh;
        width: calc(97% - 2vw);
    }
}

.mapContent {
    display: flex;
    flex-direction: column;
    justify-content: start;
    color: value.$color-navy;
    top: 50%;
    left: 50%;
    margin: 1.5%;
    padding: 1vw;
    min-width: 30vw;
    max-width: 30vw;
    height: calc(97% - 3vw);
    background-color: #fff;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 1.5vw;
    font-weight: 700;
    font-size: 18px;

    @media (max-width: $breakpoint) {
        font-size: 12px;
        top: 0;
        min-width: calc(97% - 2vw);
        max-width: calc(97% - 2vw);
    }

    >span {
        font-size: 28px;

        @media (max-width: $breakpoint) {
            font-size: 20px;
        }
    }
}

.selectContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75vw;
    margin: 1vw 0;

    @media (max-width: $breakpoint) {
        margin-bottom: calc(30vh + 15px);
    }
}

:deep(.el-select__wrapper) {
    height: 2.5vw;
    border-radius: 2vw;
    box-shadow: 0 0.5px 4px 0 rgba(0, 0, 0, 0.2);
    font-size: 16px;

    @media (max-width: $breakpoint) {
        font-size: 12px;
    }

    line-height: 1.5;
    padding: 1rem;

    .el-select__selection {
        .el-select__placeholder {
            color: value.$color-navy;
        }

        .el-select__placeholder.is-transparent {
            color: #a8abb2;
        }
    }

    .el-select__caret {
        color: value.$color-navy;
    }
}

:deep(.el-select-dropdown__item.hover),
:deep(.el-select-dropdown__item:hover) {
    background: value.$color-white;
}

:deep(.el-select-dropdown__item.is-selected) {
    color: value.$color-blue-d;
    background-color: value.$color-white;
}

.busSubRouteContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 4px;
    width: 100%;
    height: 28px;
    margin-bottom: 10px;

    @media (max-width: $breakpoint) {
        height: 24px;
        margin-bottom: 5px;
    }

    font-weight: 400;
    color: value.$color-navy;
    overflow-x: scroll;
    overflow-y: visible;

    div {
        height: 90%;
    }

    .subTab {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 90%;
        font-weight: 400;
        padding: 0 3px;
        border: 1px solid value.$color-navy;
        border-radius: 8px;
        width: max-content;
        flex-wrap: nowrap;
        word-break: keep-all;
    }

    input[type="radio"] {
        display: none;

        &:checked {
            &+label {
                color: value.$color-orange;
                font-weight: 600;
                border: 1px solid value.$color-orange;
            }
        }
    }
}

.busRouteContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    height: 10vw;
    flex-grow: 1;
    box-shadow: 0 0.5px 4px 0 rgba(0, 0, 0, 0.2);
    background-color: value.$color-white;
    border-radius: 1.5vw;
    position: relative;

    .refresh {
        cursor: pointer;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 0.5vw;
        bottom: 5vh;
        width: 5vw;
        height: 5vw;
        min-width: 36px;
        min-height: 36px;
        border-radius: 50%;
        background-color: #fff;
        z-index: 10;
        box-shadow: 0 0.5px 4px 0 rgba(0, 0, 0, 0.2);

        &__icon {
            position: absolute;
            width: 2.5vw;
            height: 2.5vw;
            min-width: 20px;
            min-height: 20px;
            top: auto;
            bottom: auto;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__svg {
            transform: scaleX(-1);
        }

        &__circle {
            fill: none;
            stroke: none;
        }

        &__path-elapsed {
            stroke-width: 8px;
            stroke: #a8abb2;
        }

        &__path-remaining {
            stroke-width: 8px;
            stroke-linecap: round;
            transform: rotate(90deg);
            transform-origin: center;
            transition: 1s linear all;
            fill-rule: nonzero;
            stroke: currentColor;

            &.green {
                color: value.$color-blue-l;
            }

            &.orange {
                color: value.$color-white;
            }

            &.red {
                color: value.$color-yellow;
            }
        }
    }

    .busRouteContainerTitle {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        min-height: 30px;
        font-weight: 400;
        // background-color: value.$color-blue-l;
        border-radius: 1.5vw 1.5vw 0 0;
        font-weight: 600;
        color: value.$color-navy;

        .tab {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            cursor: pointer;
            transition: 0.25s ease-in-out;
            font-weight: 400;
            color: #a8abb2;
            opacity: 0.8;
        }

        input[type="radio"] {
            display: none;

            &:checked {
                &+label {
                    font-weight: 600;
                    color: value.$color-navy;
                    opacity: 1;
                }
            }
        }

        input[id="radio-0"] {
            &+label {
                border-start-start-radius: 1.5vw;
            }

            &:not(:checked) {
                &+label {
                    background-color: #fff;
                    box-shadow: inset -3px 0 4px rgba(0, 0, 0, 0.2);
                }
            }
        }

        input[id="radio-1"] {
            &+label {
                border-start-end-radius: 1.5vw;
            }

            &:not(:checked) {
                &+label {
                    background-color: #fff;
                    box-shadow: inset 3px 0 4px rgba(0, 0, 0, 0.2);
                }
            }
        }
    }

    .stopInfoContainer {
        height: 100%;
        overflow-y: scroll;

        .busStopInfo {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            height: 3.5vw;
            min-height: 28px;
            font-weight: 400;
            padding: 0 5px;
            cursor: pointer;

            &:hover {
                // opacity: 0.8;
                background-color: #a8dadc80;
            }

            .stopTime {
                width: 100px;
                // min-width: fit-content;
                padding: 0 5px;
                white-space: nowrap;
                border: 1.5px solid value.$color-navy;
                border-radius: 20px;
                line-height: 1.5;
            }

            .stopName {
                width: 100%;
                text-align: start;
                margin-left: 10px;
            }

            .stopStatus {
                position: relative;
                width: 3.5vw;
                min-width: 28px;
                height: 3.5vw;
                min-height: 28px;
                color: value.$color-white;
                z-index: 1;
                line-height: 1;
                display: flex;
                align-items: center;
                /* 垂直居中 */
                justify-content: center;

                /* 水平居中 */
                &:after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: -1;
                    width: 1vw;
                    min-width: 10px;
                    height: 1vw;
                    min-height: 10px;
                    border-radius: 50%;
                    background-color: value.$color-navy;
                }

                &:before {
                    display: block;
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translate(-50%, 0%);
                    width: 0.2vw;
                    min-width: 2px;
                    height: 100%;
                    background-color: value.$color-navy;
                    z-index: -1;
                }
            }

            &:first-child .stopStatus:before {
                height: 50%;
            }

            &:last-child .stopStatus:before {
                height: 50%;
                top: 0;
            }

            &:only-child .stopStatus:before {
                display: none;
            }
        }
    }
}

.arrive0 {
    .stopStatus {
        &:after {
            background-color: value.$color-orange !important;
            animation: neon 1.5s ease-in-out infinite alternate;
        }

        &:before {
            background-color: value.$color-orange !important;
        }
    }
}

.arrive1 {
    .stopStatus {
        &:after {
            background-color: value.$color-blue-d !important;
        }

        &:before {
            background-color: value.$color-blue-d !important;
        }
    }
}

@keyframes neon {

    0%,
    100% {
        box-shadow: 0 0 0.3vw value.$color-yellow, 0 0 1.5vw value.$color-yellow,
            0 0 0.3vw value.$color-yellow;
        scale: 1;
    }

    50% {
        box-shadow: 0 0 0.8vw value.$color-yellow, 0 0 2.5vw value.$color-yellow,
            0 0 0.8vw value.$color-yellow;
        background-color: value.$color-yellow !important;
        scale: 1.1;
    }
}